    <footer id="footer">
        <div class="container">
            <div class="top-info">
                <h3><a href="/index.html"><img src="/img/logo.svg" alt="메인로고 이미지"></a></h3>
                <ul class="ft-list">
                    <li><a href="/sub/company.html">회사소개</a></li>
                    <li><a href="#none">이용약관</a></li>
                    <li><a href="#none">개인정보처리방침</a></li>
                    <li><a href="#none">이메일무단수집거부</a></li>
                    <li><a href="#none">제휴문의</a></li>
                    <li><a href="/sub/ask.html">고객센터</a></li>
                </ul>
            </div>
            <div class="bottom-info">
                <div class="info-list">
                    <div class="info-1">
                        <p>(주)FESRIRARY</p>
                        <p><strong>사업자등록번호 :</strong> 202-80-50703</p>
                        <p><strong>통신판매업신고 : </strong>경기대한-1234호</p>
                    </div>
                    <div class="info-2">
                        <p>경기도 대한시 민국구 만세로 50 (우 : 10503)</p>
                        <p><strong>호스팅 서비스 사업자 :</strong> 닷홈</p>
                    </div>
                    <p class="info-3"><strong>고객센터</strong><a href="tel:1234-1234"> 1234-1234</a> (월~금 09:00 ~ 18:00, 토/일 공휴일 휴무)</p>
                    <p class="info-4">COPYRIGHT ⓒ FESTIRARY. ALL RIGHTS RESERVED</p>
                </div>
                <ul class="info-sns">
                    <li><a href="#none"><img src="/img/icon/icon-instagram.svg" alt="인스타그램 바로가기"></a></li>
                    <li><a href="#none"><img src="/img/icon/icon-x.svg" alt="X(구 트위터) 바로가기"></a></li>
                    <li><a href="#none"><img src="/img/icon/icon-kakao.svg" alt="카카오 바로가기"></a></li>
                </ul>
            </div>
        </div>
    </footer>
    <a href="#header" id="top-btn"><img src="/img/icon/icon-top-arr.svg" alt="탑버튼"></a>
</div>


<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="/bootstrap/js/bootstrap.js"></script>
<!-- 스와이퍼 js cdn -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<!-- 슬릭 js cdn -->
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="/js/plugin.js"></script>
<script src="/js/main.js"></script>


</body>
</html>