<footer id="footer">
    <article class="container">
        <div class="ft-top d-flex align-items-center gap-3 pb-2">
            <h3><a href="/"><img src="/img/logo.svg" alt="메인로고 이미지"></a></h3>
            <ul class="btn-menu d-flex">
                <li><a href="#none">이용약관</a></li>
                <li><a href="#none">개인정보처리방침</a></li>
                <li><a href="#none">이메일무단수집거부</a></li>
                <li><a href="#none">제휴문의</a></li>
                <li><a href="#none">고객센터</a></li>             
            </ul>
        </div>

        <div class="ft-bottom d-flex justify-content-between">
            <div class="ft-left">
                <ul class="ft-address d-flex flex-wrap">
                    <li><span>우)10503</span> 경기도 대한시 민국구 만세로 50</li>
                    <li><span>사업자등록번호</span> 202-80-50703</li>
                    <li><span>통신판매업신고</span> 경기대한-1234호</li>
                    <li><span>호스팅 서비스 사업자</span> 닷홈</li>
                </ul>
                <p class="ft-call"><span>고객센터</span> <a href="tel:1234-1234">1234-1234</a>
                    <br class="d-sm-none">(월~금 09:00 ~ 18:00, 토/일 공휴일 휴무)</p>
                <p class="copy">COPYRIGHT ⓒ FESTIRARY. ALL RIGHTS RESERVED</p>
            </div>

            <div class="ft-right">
                <ul class="ft-sns d-flex">
                    <li><a href="#none"><img src="/img/icon/icon-instagram.svg" alt="인스타그램 바로가기"></a></li>
                    <li><a href="#none"><img src="/img/icon/icon-x.svg" alt="X(구 트위터) 바로가기"></a></li>
                    <li><a href="#none"><img src="/img/icon/icon-kakao.svg" alt="카카오 바로가기"></a></li>
                </ul>     
            </div>
        </div>    
    </article>
</footer>
<a href="#header" id="top-btn"><img src="/img/icon/icon-top-arr.svg" alt="탑버튼"></a>




<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="/bootstrap/js/bootstrap.js"></script>
<!-- 스와이퍼 js cdn -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<!-- 슬릭 js cdn -->
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="/js/plugin.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
